* {
  list-style: none;
}

.shadow {
  @media screen and (max-width: 700px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    transition: background-color 0.3s ease-in-out;

    &.shadow:not(.closed) {
      pointer-events: auto;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .navBar {
      position: fixed;
      z-index: 4;
      top: 0;
      left: 0;
      transition: left .3s ease-in-out;

      &.closed {
        left: -100%;
      }

      height: 100vh;
      width: 100%;
      max-width: 600px;
      padding: 45px 20px 20px 20px;
      
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      overflow-x: hidden;
      overflow-y: auto;
      box-shadow: 0px 0px 10px black;
      background-color: white;
    
      & .navBarBody {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
      }

      & .iconCloseNavBar {
        position: absolute;
        top: 20px;
        right: 20px;

        cursor: pointer;
        font-size: 20px;
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .navBar {
    @media screen and (min-width: 700px) {
      & .iconCloseNavBar {
        display: none;
      }
    
      .navBarBody {
        display: flex;
        column-gap: 15px;
        align-items: center;
        justify-content: center;
      }
    }
    
    & .navBarItem {
      cursor: pointer;
      text-decoration: none;
      font-size: 16px;
      color: #333333;

      &:hover {
        color: var(--primaryColor);
      }
    }
  }
}
